* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

.container {
  display: flex;
}

.divItem {
  flex: 1;
  padding: 0;
  border: 1px solid green;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: red;
  opacity: .5;
}

.divItem:hover .overlay {
  display: block;
}

h1 {
  text-emphasis: e;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
